
body {
  min-width:1440px;
}

#jsonData {
  position: absolute;
  left: 850px;
  height: 200px;
  width: 400px;
  top: 100px;
  z-index: 1000;
}

#title {
  position: absolute;
  left: 400px;
  font-size: 64px;
}

#description {
position: absolute;
left: 400px;
top: 525px;
font-size: 30px;
}

#Execute {
left: 1175px;
position: absolute;
top: 300px;
z-index: 1000;
}

#peter {
  position: absolute;
  left: 10px;
  top: 25px;
}

#turtle {
  position: absolute;
  left: 450px;
}

#svgBox {
  border: 2px solid;
  top: 100px;
  left: 400px;
  position: absolute;
}